{% extends 'base.html.twig' %}

{% block body %}

	<section class="mb-5">

		{% if post|length == 0 %}
			<h2 class="h2 m-5 text-center text-danger text-uppercase fw-bold">Article non trouver</h2>
		{% endif %}
		{% if post|length > 0 %}
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1 class="m-5 text-center">{{ post.title }}</h1>
					{% if post.image is defined and post.image is not empty %}
						<img src="/assets/images/full/{{ post.image }}" class="xl-50  mb-3 rounded img-fluid" alt="...">
					{% endif %}

					<p class="text-start">{{ post.content |raw }}</p>
				</div>
			</div>
		</div>
		<div class="container">
			{% for cat in post.getCategoriesId() %}
				<a href="/categories/{{ cat.slug }}" class="btn m-1 btn-dark">#{{ cat.name}}</a>
			{% endfor %}
		</div>
		<div class="container mt-2 d-flex justify-content-left">
			<div class="card p-3">
				<div class="d-flex align-items-center gap-3">
					{% if post.image is defined and post.image is not empty %}
						<div class="image">
							<a class="page-link " href="{{ path('app_posts_user' , {id: post.getUserId().getId}) }}">
								<img src="/assets/images/avatar/{{asset(post.userId.avatar)}}" class="rounded" width="60" alt="...">
							</a>
						</div>
					{% endif %}
					<p>

						<a class="page-link " href="{{ path('app_posts_user' , {id: post.getUserId().getId}) }}">
							{{ post.getUserId().getName()   }}
							{{ post.getUserId().getFirstName() }}
						</a>
						<span>Auteurs</span>
						<span class="d-block">Créé le :
								{{ post.getCreatedAt().format('d-m-Y') }}</span>
					</p>


				</div>
			</div>
		</div>
		{% endif %}
	</section>

{% endblock %}
