{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post" class="d-flex flex-column justify-content-evenly align-items-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

    <h1 class="h3 m-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail" hidden="">Email</label>
    <input type="email" value="{{ last_username }}"
           name="email" id="inputEmail"
           style="width: 300px"
           class="form-control p-2 m-3 border border-3 border-secondary-subtle rounded text-center"
           autocomplete="email" placeholder="Email" required autofocus>
    <label for="inputPassword"  hidden="">Password</label>
    <input type="password" name="password" id="inputPassword"            style="width: 300px"

           class="form-control  m-3 p-2 border border-3 border-secondary-subtle rounded text-center"
           autocomplete="current-password" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
