{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center m-3">{{ title ?? 'Inscription' }}</h1>

    {% for message in app.flashes('error') %}
        <div style="max-width: 350px" class="alert m-auto text-center my-5 alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm ,  {'attr': {'class': 'd-flex flex-column justify-content-evenly align-items-center'}}) }}



    {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}

        <div class="container-fluid text-center my-4">
            <fieldset class="d-block my-3">
                <span class="mt-3 mb-2 text-danger">{{ form_errors(registrationForm.roles) }}</span>
                <label class="fw-bold d-block fs-5" for="categories">Sélectionner un rôle</label>
                {% for role in registrationForm.roles %}
                    <div class="d-inline-block mb-2">
                        {{ form_widget(role,
                            {"attr": {
                                "class": "btn-check",
                            }
                            }) }}
                        {{ form_label(role, null, {"label_attr": {"class": "btn text-capitalize btn-outline-success", "for": "check-" ~ role.vars.value}}) }}
                    </div>
                {% endfor %}
            </fieldset>
        </div>

    {% endif %}

    {{ form_widget(registrationForm.name,
        {'label': false,
            'attr': {'class': 'p-2 border border-3 border-secondary-subtle rounded text-center', 'placeholder': 'Nom'}}) }}
    <span class="mt-3 mb-2 text-danger">{{ form_errors(registrationForm.name) }}</span>

    {{ form_widget(registrationForm.first_name ,
        {'label': false,
            'attr':{'class' : ' p-2 border border-3 border-secondary-subtle rounded text-center'  ,'placeholder': 'Prénom'}}) }}
    <span class="mt-3 mb-2 text-danger">{{ form_errors(registrationForm.first_name) }}</span>

    {{ form_widget(registrationForm.email ,
        {'label': false,
            'attr':
            {'class' : ' p-2 border border-3 border-secondary-subtle rounded text-center'  ,
                'placeholder': 'Email',
            }}) }}
    <span class="mt-3 mb-2 text-danger">{{ form_errors(registrationForm.email) }}</span>

    {{ form_widget(registrationForm.plainPassword ,
        {'label': false,
            'attr': {'class' : ' p-2 border border-3 border-secondary-subtle rounded text-center', 'placeholder': 'Mot de passe'}
        }) }}
    <span class="mt-3 mb-2 text-danger ">{{ form_errors(registrationForm.plainPassword) }}</span>
    <p class="mt-2 text-secondary">Le mot de passe doit contenir au moins : </p>
    <ul class="text-secondary">
        <li>Une majsucule</li>
        <li>Une minuscule</li>
        <li>Un chiffre</li>
        <li>Un caractère spécial parmis ( @?#"!+$*&_\-^% )</li>
    </ul>

    <div class="form-input-file">
        <div class=" mb-3">
            <span class="mt-3 mb-2 text-danger">{{ form_errors(registrationForm.image) }}</span>
            <label class="fw-bold my-2 ms-1 text-center" id="form-file" for="file">Choisir une image pour votre
                avatar</label>
            {{ form_widget(registrationForm.image,
                {"label": "Choisir une image pour votre avatar",
                    "attr": {
                    "class": "form-control",
                    "accept" : "image/*"
                }
                }) }}
        </div>

    </div>
    {% if('rgpd' in registrationForm) %}
        <div class="form-check form-switch m-2">
            <label class="fw-bold my-2 ms-1 text-center" id="" for="">J'accepte la collecte et le traitement des mes
                données</label>
            {{ form_widget(registrationForm.rgpd, {
                'attr': {
                    'class': 'form-check-input' ~ (registrationForm.rgpd.vars.value ? ' checked' : ''),
                    'id': 'flexSwitchCheckDefault',
                    'value': '0'

                }}) }}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-secondary mt-3">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
