{% extends 'base.html.twig' %}

{% block title %}AYA
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row gx-3">
			<section>
				<h2 class="h2 m-5 text-center text-uppercase fw-bold">Listes des articles dans la catégorie :
					{{slug}}
				</h2>
			</section>
			{% for post in posts %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					<article class="card mb-5">
						<a href="/posts/{{ post.slug }}">
							<img src="/assets/images/square/{{ asset(post.image)}}" class="d-block w-100" alt="...">
						</a>
						<div class="card-body">
							<a aria-label="voirs l'article {{ post.slug }}" class="d-block card-title fst-italic text-capitalize text-decoration-none" href="/article/{{ post.id }}/{{ post.slug }}">
								{{ post.title|slice(0, 25) }}...
							</a>

							{# <p class="card-text text-wrap fw-bold "> #}
							{# {{ post.content|slice(0, 255) |raw }}...</p> #}
						</div>
						<div class="d-flex pb-3  px-3 justify-content-left align-items-baseline">


							<div class="image">
								{% if post.userId.avatar is defined and post.userId.avatar is not empty %}
									<a class="page-link " href="{{ path('app_posts_user' , {id: post.userId.id}) }}">
										<img src="/assets/images/avatar/{{asset(post.userId.avatar)}}" class="rounded" width="60" alt="...">
									</a>
								{% endif %}
							</div>
							<div class="d-flex text-capitalize px-3 justify-content-around align-items-baseline ">
								<a class="page-link" href="{{ path('app_posts_user' , {id: post.getUserId().getId()}) }}">
									{{ post.getUserId().getName() }}
									{{ post.getUserId().getFirstName() }}
								</a>
								<p class="fs-7 px-4 fw-light">
									Créé le :
									{{ post.getCreatedAt().format('d-m-Y') }}
								</p>

							</div>

						</div>

						<div class="container">
							{% for cat in post.getCategoriesId() %}
								<a href="/categories/{{ cat.slug }}" class="btn m-1 btn-dark">#{{ cat.name}}</a>
							{% endfor %}
						</div>

					</article>
				</div>

			{% endfor %}
		</div>
	</div>
	{% if posts is not empty %}
		<div class="mt-auto">
			<ul class="pagination pagination-lg justify-content-center">
				{% if nPage > 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_categories', {'nPage': nPage - 1, 'slug': slug}) }}">Précédent</a>
					</li>
				{% endif %}
				{% for page in pagination %}
					<li class="page-item {{ (nPage == page) ? 'active' : '' }}">
						<a class="page-link" href="{{ path('app_categories', {'nPage': page, 'slug': slug}) }}">{{ page }}</a>
					</li>
				{% endfor %}
				{% if pagination|length > nPage and nPage >= 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_categories', {'nPage': nPage + 1, 'slug': slug}) }}">Suivant</a>
					</li>
				{% endif %}
			</ul>
			
		</div>

	{% endif %}


{% endblock %}
